<html>
<head>
  <title>The Gossip Project</title>
</head>
<body>
<h1>Mon super site de gossip, du dossier views !</h1>

<p>Si tu souhaites rajouter des potins en attendant de pouvoir les consulter  <a href="/gossips/new/">-> Go to <-</a></p>
</body>
</html>